# Archivos de entorno
.env

# Entornos virtuales
venv/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

# Configuración de IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
